.hero_img2 {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1000px;
  height: 1000px;
  background-repeat: no-repeat;
  overflow: hidden;
  @media screen and (max-width: 480px) {
    width: 500px;
    height: 500px;
  }
}

.hero_img2 img {
  width: 1000px;
  height: 1000px;
  position: absolute;
  bottom: 0px;
  right: -300px;
  animation-duration: 1000ms;
  animation-name: slidein;
  //   animation-delay: 500ms;

  @media screen and (max-width: 480px) {
    width: 500px;
    height: 500px;
    right: -100px;
  }
}

@keyframes slidein {
  from {
    margin-left: 0%;
    width: 0%;
    height: 0%;
    // scale: 100%;
  }

  to {
    margin-left: 100%;
    width: 100%;
    height: 100%;
    // scale: 200%;
  }

  50% {
    margin-left: 102%;
    width: 102%;
    height: 102%;
  }

  75% {
    margin-left: 103%;
    width: 103%;
    height: 103%;
  }
}

.text {
  position: relative;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.6em;
  color: #ffffff;

  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.text:after {
  content: '';
  width: 377px;
  height: 1px;

  background-color: #ffffff;
  display: block;
  position: absolute;
  bottom: -8px;
  left: 0px;
  @media screen and (max-width: 480px) {
    width: 90%;
    left: 11px;
  }
}

.text_red:after {
  content: '';
  width: 377px;
  height: 1px;

  background-color: #cc0000;
  display: block;
  position: absolute;
  bottom: -8px;
  left: 0px;

  @media screen and (max-width: 480px) {
    width: 90%;
    left: 11px;
  }
}

.text_red {
  color: #cc0000;
  position: relative;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.6em;
  @media screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.title {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 38px;
  line-height: 1.16;
  color: #ffffff;
  @media screen and (max-width: 480px) {
    font-size: 18px;
  }
}

.hero_text {
  padding-top: 415px;
  width: 384px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  // animation-name: color;
  // animation-duration: 1000ms;
  // animation-delay: 500ms;

  @media screen and (max-width: 480px) {
    width: 284px;
    padding-top: 55px;
    // width: 100%;
  }
}
