.text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 15.2621px;
  line-height: 1.5;
  color: #ffffff;
  padding-top: 24px;
}

.down {
  position: absolute;
  bottom: 30px;
  // left: 10%;
  width: 91px;
  text-align: center;
  animation: scroll 500ms forwards;
  animation-delay: 2.5s;
  opacity: 0;
}

@keyframes scroll {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
